<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
          type="text/css">
    <!--    <link th:href="@{/static/css/style.css}" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" th:src="@{/chat.js}"></script>
    <title>Chat</title>
</head>
<body>
<div class="row text-center">
    <div class="col-md-4 themed-grid-col">
        <div class="flex-shrink-0 p-3 bg-white" style="height: 100vh;">
            <h2 id="currentUser" th:text="${userDto}" class="mt-4"></h2>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">All Users
                    </button>
                    <div class="collapse" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" th:each="list : ${getAllUsers}">
                            <li th:text="${list}"><a href="#"
                                                     class="link-dark d-inline-flex text-decoration-none rounded"></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">Active
                        Users
                    </button>
                    <div class="collapse show" id="dashboard-collapse">
                        <ul th:each="onlinelist : ${onlineUsers}"
                            class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <!--
                                                <li th:text="${onlinelist}"><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"></a></li>
                            -->
                            <input class="form-check-input" type="checkbox" th:value="${onlinelist}" th:name="sendto"
                                   th:text="${onlinelist}">
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Account
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a>
                            </li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <a class="btn btn-primary" th:href="@{/logout}" role="button">Sign out</a>
            </ul>
        </div>
    </div>
    <!--<div class="flexbox">
        <h1 align="center" th:text="Welcome"></h1>
        <h1 align="center" id="currentUser" th:text="${userDto}"></h1>
    </div>-->
    <!--<div>
        <h3>Active Users</h3>
        <table>
            <tbody>
            <div th:each="list : ${getAllUsers}">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" th:value="${list}" th:name="sendto"
                           th:text="${list}">
                </div>
            </div>
            &lt;!&ndash;        <tr th:each="list : ${getAllUsers}">&ndash;&gt;
            &lt;!&ndash;            <td><a th:text="${list}" th:href="@{/chatWith/{username}/{currentUser} (currentUser = ${userDto},username = ${list})}"></a></td>&ndash;&gt;
            &lt;!&ndash;        </tr>&ndash;&gt;
            </tbody>
        </table>
    </div>-->
    <!--<input type="button" th:onclick="connect()" th:value="connect">-->
    <div class="col-md-4 themed-grid-col">
        <div class="container themed-container text-center">
            <h4 class="mt-4">Send Message</h4>
            <textarea class="form-control w-100" id="msg" rows="3" placeholder="message"></textarea>
        </div>
        <hr class="my-4">

        <div class="container themed-container text-center">
            <div class="row mb-3 text-center">
                <div class="col-md-8 themed-grid-col">
                    <button type="button" th:onclick="broadCastMsg()" class="btn btn-danger">BroadCast</button>
                </div>
                <div class="col-md-4 themed-grid-col">
                    <button type="button" class="btn btn-success" th:onclick="sendMsg()" value="submit">Send</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 themed-grid-col bg-dark text-white">
        <div class="output"></div>
    </div>
</div>
</body>
</html>