<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
          type="text/css">
<!--    <link th:href="@{/static/css/style.css}" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" th:src="@{/chat.js}"></script>
    <title>Chat</title>
</head>
<body>
<div> </h1>
    <div class="flexbox">
        <h1 th:text="Welcome"> </h1>
        <h1 th:text="${userDto}"></h1>
    </div>
    <h3>Active Users</h3>
    <table>
        <tbody>
        <tr th:each="list : ${getAllUsers}">
            <td><a th:text="${list}" th:href="@{/chatWith/{username}/{currentUser} (currentUser = ${userDto},username = ${list})}"></a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}"><input type="button" value="Disconnect"></a>
</div>
<h3 id="currentUser" th:text="${userDto}"> </h3>
<p id="username" th:text="${list}"></p>
<input type="button" th:onclick="connect()" th:value="connect">
<input id="msg" type="text" placeholder="enter message">
<input type="button" th:onclick="sendMsg()" value="submit">
<a th:href="@{/}"><input type="button" value="Disconnect" th:onclick="disconnected()"></a>
</body>
</html>