<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Chat Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="div">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>:
        <input  class="username" type="text" id="username" name="username" autofocus="autofocus" placeholder="Username" /> <br />
        <label for="password">Password</label>:
        <input class="password" type="password" id="password" name="password" placeholder="Password" /> <br />
        <input class="login" type="submit" value="Log in" />
        <input class="reset" type="reset" value="Reset" />
    </form>
</div>
</body>
</html>