<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Chat Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/registration}" th:object="${userDto}" method="post">
    <p>Username: <input class="username" type="text" th:field="*{username}"  placeholder="Username" /></p>
    <p>Password: <input class="password" type="password" th:field="*{password}" placeholder="Password"/></p>
    <p><input class="submit" type="submit" value="Submit" /><input class="reset" type="reset" value="Reset" /></p>
</form>
</body>
</html>