<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>List of All Users</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
        type="text/css">
  <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body class="active-user1">
<h1 class="active-user2">Active Users</h1>
<table>
  <tbody>
  <tr th:each="list : ${registrations}">
    <td class="data"><span th:text="${list.username}"> </span></td>
  </tr>
  </tbody>
</table>
</body>
</html>